<% content_for :title do %>
    <h1>
      Edit Training
      <small>Change data about your training</small>
    </h1>
<% end %>

<div class="box box-primary">
  <div class="box-body">

<%= render 'form' %>
  </div>
</div>