<div id='calendar'></div>

<script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/moment.min.js'></script>
<script src='http://fullcalendar.io/js/fullcalendar-2.1.1/fullcalendar.min.js'></script>



<script>
$(document).ready(function() {
    var dict = [];

    <% @trainings.each do |t| %>
        <%t.training_sessions.each do |s| %>
            var d = {};
                <% if s.recurrence == 'never' %>
                    d['title']= '<%=t.title%>';
                    d['start']= '<%=s.datetime.to_time.strftime('%Y-%m-%d %H:%M:%S')%>';
                    dict.push(d);
                <% else%>
                    <%s.get_recurrence_dates.each do |r| %>
                        d['title']= '<%=t.title%>';
                        d['start']= '<%=r.to_time.strftime('%Y-%m-%d %H:%M:%S')%>';
                        dict.push(d);
                        var d = {};
                    <% end %>
                <% end %>
        <% end %>
    <% end %>
    $('#calendar').fullCalendar({

            events:dict




    });
// page is now ready, initialize the calendar...

//    $('#calendar').fullCalendar({
//        events: [
//            {
//                title  : 'event1',
//                start  : '2015-11-28'
//            }
//
//
//        ]
//    });

});
</script>

