<h1>My Friends</h1>

<% if @myfriends.nil? %>
    Haha. you have no friends!
<% else %>
    Yeah. you have friends!
<% end %>
<table class="table table-bordered table-striped display" id="posts">
  <thead>
  <tr>
    <th>ID</th>
    <th>Username</th>
  </tr>


  </thead>
  <tbody>
  <% @myfriends.each do |friend| %>
      <tr>
        <td><%= friend.id %></td>
        <td><%= link_to friend.username, local_user_path(friend) %></td>
      </tr>
  <% end %>
  </tbody>
</table>