<% content_for :title do %>
    <h1>
      New user
      <small>Create a new CyberCoach user</small>
    </h1>
<% end %>

<div class="box box-primary">
  <div class="box-body">

<%= render 'form' %>

<%= link_to 'Back', users_path %>

  </div></div>