<% content_for :title do %>
    <h1>
      Edit Saison
      <small>Change data about your training session</small>
    </h1>
<% end %>

<div class="box box-primary">
  <div class="box-body">

<%= render 'form' %>
<div style="clear:both;"></div>
<%= link_to 'Back', training_path(@training), class:"btn btn-default" %>

  </div></div>