<h1>Editing Session<small class="small-title">Change Data About your Session</small></h1>

<%= render 'form' %>
<br /><br />
<div style="clear:both;"></div>
<%= link_to 'Back', training_path(@training), class:"btn btn-default" %>