<% content_for :title do %>
    <h1>
      Edit Saison
      <small>Change data about your training session</small>
    </h1>
<% end %>

<%= render 'form' %>
<br /><br />
<div style="clear:both;"></div>
<%= link_to 'Back', training_path(@training), class:"btn btn-default" %>