<% content_for :title do %>
    <h1>
      Edit Session Log
      <small>Change data about your session log</small>
    </h1>
<% end %>

<%= render 'form' %>
<br /><br />
<div style="clear:both;"></div>
<%= link_to 'Back', training_path(@log.training_session.training), class:"btn btn-default" %>