<h1>New Log<small class="small-title">Type in data about your Log</small></h1>

<%= render 'form' %>

<br /><br />
<div style="clear:both;"></div>
<%= link_to 'Back', training_path(@training), class:"btn btn-default" %>