<% content_for :title do %>
    <h1>
      New Session Log
      <small>Type in data about your session log</small>
    </h1>
<% end %>

<div class="box box-primary">
  <div class="box-body">

<%= render 'form' %>

<br /><br />
<div style="clear:both;"></div>
<%= link_to 'Back', training_path(@training), class:"btn btn-default" %>

      </div>
    </div>